.seccionDerecha {
   
  display: grid;
  grid-auto-rows: 20%;
  
   }  
   .caja {

    background-color:rgb(255, 255, 255);
    justify-items: center;
    margin: 25px auto;
    border: 1px solid rgb(243, 236, 236);
    width: 450px;
    height: 200px;
    box-shadow: 10px 10px 10px #8d6ca0; 
   }
   h2{
    color: #891fc6;
    font-family: 'Bebas Neue', cursive;
    margin: 5px 10px;

   }
   .letraPerfil{
    margin: 0px 10px;
   }
  
